$color: #FF8800;

.zl_ct {
   position: absolute;
   display: none;
   width: 400px;
   border: solid 1px #DDD;
   z-index: 1;
   background: #FFF;
   a {
       text-decoration: none;
   }
}
.zl_ct_hd {
    padding-left: 15px;
    overflow: hidden;
    line-height: 40px;;
    font-size: 14px;
    a{
        float: left;
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        color: #333;
        span {
            display: none;
        }
    }
    .zl_on {
        position: relative;;
        color: $color;
        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 2px;
            background: $color;
        }
        &::before {
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -8px;
            content: '';
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $color;
        }
        span {
            display: block;
            position: absolute;
            bottom: -3px;
            left: 50%;
            margin-left: -8px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #FFF;
            z-index: 1;
        }
    }
}
.zl_ct_mn {
    border-top: solid 1px #DDD;
    padding: 0 10px 10px 10px;
    margin-top: -1px;
    line-height: 20px;
    font-size: 12px;
    &>div {
        overflow: hidden;
        p {
            float: left;
            &:first-child {
               margin: 10px 10px 0 10px;
               font-size: 14px;
               color: $color;
            }
        }
    }
    a {
        display: inline-block;
        margin-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        color: #333;
        &:hover {
            color: $color;
        }
    }
}
